body {
  margin: 0;
  text-align: center;
  font-family: calibri, sans-serif;
  background-color: #1d1f2c;
  color: #d1d4e5;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Caveat", cursive;
  color: #b1d4e5;
  font-size: 4rem;
}

h2,
h3 {
  color: #b1d4e5;
}

p {
  margin: 30px auto;
  color: #ddd;
  line-height: 2;
}

.subtitle {
  font-weight: normal;
}

hr {
  border-width: 5px 0 0 0;
  border-style: dotted;
  width: 40px;
  margin: 60px auto;
  color: #1d1f2c;
}

.top-container {
  padding-top: 100px;
}

.middle-container {
  background-color: #373c50;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 25%;
}

.bottom-cloud {
  position: absolute;
}

.mountain {
  position: relative;
  top: 4px;
}

.my-pic {
  margin: 50px 0 20px 0;
  border-radius: 100%;
  width: 300px;
}

.icons {
  width: 150px;
}

.skill-row {
  width: 35%;
  display: inline-block;
  margin: 50px 0 30px 0;
  vertical-align: top;
}

.intro-p {
  width: 40%;
}

.skill-p {
  width: 75%;
}

.bottom-p {
  padding-bottom: 40px;
}

a {
  color: darkgoldenrod;
  text-decoration: none;
}
